<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="d:\work\log.txt">
	
    <extensions>
        <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
	
    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
            <target xsi:type="File" name="exception" fileName="E:\Repos\RestApiProject\RestApiLogs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	        <target xsi:type="File" name="allfile" fileName="E:\Repos\RestApiProject\RestApiLogs\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		    <target xsi:type="File" name="time-request" fileName="E:\Repos\RestApiProject\RestApiLogs\nlog-all-timeRequests-.log"
			    layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	
	<rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
	    <logger name="RestApiProject.*" minlevel="Error" writeTo="exception" />
		<logger name="RestApiProject.Middleware.TimeRequestMiddleware" minlevel="Trace" writeTo="time-request" />
        
    </rules>
</nlog>